$imgurl: "../images/";

//반응형기준
$mobileSize: 1000px;
$tabletSize: 1200px;

// 색상
$ft-color: #016bde;
$border-color: #b4c2e0;
$placehodler: #8898bd;
$hover: #e7f2ff;
$scroll: #cfd9eb;

$white: #fff;
$gray77: #777777;
$black: #333333;
